@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #dfdada;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    background: #f0f0f0;
    z-index: 1; 
}

.nav-container {
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*ícone do carrinho*/
#shopping-icon {
    font-size: 1.8rem;
    cursor: pointer;
}

/*Aba do carrinho*/
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #f0f0f0;
}

.cart-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 2.3rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 5rem 0;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 3rem;
    margin: 2rem;
}

.product-box {
    position: relative;
    border: solid;
    border-radius: 15px;
    border-width: 1px;

}

.product-box:hover {
    padding: 10px;
    border: 1px solid;
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 16px;
    font-weight: 600;
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    padding-left: 10px;
    margin-bottom: 0.5rem;
}

.price {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    padding-left: 3px;
    padding-bottom: 11px;
    margin-left: 0.5rem;
}

.add-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
}

.add-icon:hover {
    scale: 1.1;
}